<p id="notice"><%= notice %></p>

<h1>Puzzles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>File name</th>
      <th>Default size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puzzles.each do |puzzle| %>
      <tr>
        <td><%= puzzle.name %></td>
        <td><%= puzzle.file_name %></td>
        <td><%= puzzle.default_size %></td>
        <td><%= link_to 'Show', puzzle %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
