<p id="notice"><%= notice %></p>

<h1>Puzzles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>File name</th>
      <th>Default size</th>
      <th>Height</th>
      <th>Width</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @puzzles.each do |puzzle| %>
      <tr>
        <td><%= puzzle.name %></td>
        <td><%= puzzle.file_name %></td>
        <td><%= puzzle.default_size %></td>
        <td><%= puzzle.height %></td>
        <td><%= puzzle.width %></td>
        <td><%= link_to 'Solve', puzzle %></td>
        <td><%= link_to 'Destroy', puzzle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
